name: Release

on: 
  push:
    branches:
      - main
    paths:
      - lib/opentelemetry/instrumentation/rage/version.rb

permissions:
  contents: write
  id-token: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
          ruby-version: 3.4

      - uses: rubygems/release-gem@v1
